<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" id="todoapp">
			<!-- 搜索栏 -->
			<header class="header">
				<h1>{{title}}</h1>
				<!-- 添加任务 -->
				<input @keyup.enter="addItem" class="new-todo" placeholder="输入待办事项......" v-app-focus>
			</header>
			<!-- 任务列表  v-show 判断是否显示 -->
			<template v-if="items.length">
				<!-- <section class="main" v-show="items.length"> -->
				<section class="main">
				<input v-model="toggleAll" id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<!-- 显示列表 -->
				<ul class="todo-list">
					<li v-for="(item,index) in filterItems" v-bind:class="{completed:item.completed,editing:item === currentItem}">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="item.completed">
							<label @dblclick="toEdit(item)">{{item.content}}</label>
							<!-- 删除按钮 -->
							<button class="destroy" v-bind:value="item.id" @click="removeItem(index)"></button>
						</div>
						<input class="edit" :value="item.content" v-app-focus = "item === currentItem"	
						@keyup.esc = "canelEdit" @keyup.enter = "finishEdit(index,item,$event)" @blur = "finishEdit(index,item,$event)">
					</li>
				</ul>
			</section>
			<!-- 任务列表 底部-->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{sum}}</strong>项未完成任务</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a :class="{selected:filterStatus === 'all'}" href="#/">All</a>
					</li>
					<li>
						<a :class="{selected:filterStatus === 'active'}" href="#/active">Active</a>
					</li>
					<li>
						<a :class="{selected:filterStatus === 'completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- 清空按钮 总任务数>未完成数-->
				<button class="clear-completed" @click = "removeCompleted" v-show="items.length > sum">Clear completed</button>
			</footer>
			</template>
		</section>

	
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
